//Über mich
.about{
	.rosa{
		p{
			color: $Rosa !important;
		}
	}
}


@media screen and (min-width: 992px){
	.about-bilder{
		.right{
			margin-top: -500px!important;
		} 
		.name{
			font-size: 28.51px!important;
		}
	}
}
